html,
body {
	padding: 0;
	margin: 0;
	font-family: Poppins, sans-serif !important;
	background-color: #f6f4f2;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.mycontainer {
	max-width: 1280px;
	margin: auto;
}

.content {
	max-width: 1024px;
	margin: auto;
}
.menus {
	text-transform: uppercase;
	font-size: small;
}

.active {
	font-weight: bold;
	color: #D13F31 !important;
	font-size: medium;
}
