html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif !important;
  background-color: #F6F4F2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mycontainer {
	max-width: 1280px;
	margin: auto
}

.content {
	max-width: 1024px;
	margin: auto
}
.menus{
  text-transform: uppercase;
  font-size: small;
}
.svgBg{
background-image: url("../public/img/homebg.svg");
 
}

.active{
  font-weight: bold;
  display: none;
}