html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mycontainer {
	max-width: 1280px;
	margin: auto
}
.menus{
  text-transform: uppercase;
  font-family: Poppins;
  font-size: small;
}