html,
body {
	padding: 0;
	margin: 0;
	font-family: Poppins, sans-serif !important;
	background-color: #f6f4f2;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.mycontainer {
	max-width: 1280px;
	margin: auto;
}

.content {
	max-width: 1024px;
	margin: auto;
}
.menus {
	text-transform: uppercase;
	font-size: small;
}

.active {
	font-weight: bold;
	color: #d13f31 !important;
	font-size: medium;
}
.socialicons {
	margin-left: 18px;
}
@media screen and (min-width: 52em) {
	.socialicons {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		margin-left: 65px;
	}
	.IconButton {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
